header(class= logoErrorClass ? 'header--error' : '').header
  a.header__logo.logo(href='#' class= logoErrorClass ? logoErrorClass : null)
    if (!logoErrorClass)
      img.logo__image(src='img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name Типотека
    else
      img(src='img/icons/logo.svg' alt='логотип Тайпотеки')
  if (!logoErrorClass)
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          a.header__registration(href='#') Регистрация
        li.header__list-item
          a.header__enter(href='#') Вход с паролем
    a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
