extends ../layouts/main
include ../utils/mixins

block variables
  - var logoErrorClass = 'header__logo--404'
  - var wrapperClass = 'wrapper-color'

block content
  h1.visually-hidden Ошибка 404
  +error({text: 'Похоже ошиблись адресом'})
