extends ../layouts/main
include ../utils/mixins

block variables

block content
  main.page-content
    h1.visually-hidden Войти
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
          | Закрыть окно
        h2.popup__title Войти
        .popup__form.form.form--log-in
          form(action='#' method='get')
            +input({
              type: 'email',
              name: 'email',
              placeholder: 'Электронная почта',
              isRequired: true
            })
            +input({
              type: 'password',
              name: 'password',
              placeholder: 'Пароль',
              isRequired: true
            })
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
